<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="ru">
    <title>detail</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <link rel="icon" href="/image/3detail icon.ico" sizes="any" type="image/x-icon"/>
    <!--    <link rel="icon" href="/icon_noFon120.ico"  sizes="120x120" type="image/x-icon"/>-->
    <meta name="description" th:content="${mapInfo[9].info}">

    <meta name="keywords" th:content="${mapInfo[10].info}" >

    <meta name="robots" content="index,follow">

    <meta property="og:locale" content="ru_RU">

    <style>
        /* Стили для элементов h8 */
        .inline-group {
            display: inline-block;
            margin-right: 10px; /* Отступ справа для разделения групп */
        }
    </style>

</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-8">
<!--                <h2 class="text-center text-white"> 3detail </h2>-->
            </div>
        </div>
    </div>
</header>

<div class="container">
    <p></p>
    <!--  Строка пользоваьтель-->
    <div class="row">
        <div class="col-md-8">
       </div>

        <div class="col-md-4">
            <div class="btn-group" role="group" > <!--имена групп в один ряд-->
                <div class="me-3">
                    <h6 class="text-center mb-4">
                        <a href = "/athurizathion" > <p th:text="${userInfo['login']}"></p> </a>
                    </h6>
                </div>
                <div class="me-3">
                    <h6 class="text-center mb-4">
                        <a href = "/index/order3d" > <p th:text="'Мои заказы'"></p> </a>
                    </h6>
                </div>
            </div>
        </div>


    </div>
    <P></P>

    <!--  Строка с инфо сверху-->
    <div class="row">
        <div class="col-md-4">
            <h6 class="text-center mb-4">
                <a th:text="${mapInfo[2].info}"></a>
            </h6>


        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h6 class="text-center mb-4">
                <a th:text="${mapInfo[1].info}"></a>
            </h6>
        </div>


    </div>

    <!--  строка сылки на группы-->
    <div th:if="${not #lists.isEmpty(groups)}" class="row">
        <div class="col-md-11">
            <p></p>
            <!--каталог разделов-->
            <div  class="btn-group" role="group" > <!--имена групп в один ряд-->

                             <div th:each = "group: ${groups}" class="me-2"> <!-- Отступ справа между каждым элементом -->

                                 <div th:if="${group.groupName != 'Свалка'}"> <!--Проверка что имя не свалка-->

                                     <a th:href="'/index/group/' + ${group.getGroupId}" class="btn btn-outline-secondary text-black text-decoration-none"
                                        style="margin-right: 20px; font-weight: bold;" th:text="${group.getGroupName()}"></a>
                                 </div>

                            </div>
            </div>
            <p></p>
<!--Вывод сообщения об ошибке-->
<!--            <h6>   <a th:text="${errorMessage}" > </a>   </h6>-->
<!--            <p></p>-->
        </div>

        <p></p>
    </div>

    <p></p>
    <a th:href="'/index/order3d'"
       class="btn btn-dark"
       style="margin-right: 30px;"
       th:text="'Заказать 3D печать'"></a>
    <p></p>
    <!--        контейнеры с группой и картинками-->
    <div th:if="${not #lists.isEmpty(groups)}" class="row">
        <div class="col-11">
         <div class="container mt-5">
                <div class="row justify-content-center">
                    <div th:each="group : ${groups}" class="col-md-3 my-3">

                        <div th:if="${group.groupName != 'Свалка'}">  <!--если не свалка то выводим группу-->
                            <div class="card h-100 border p-4 rounded shadow-lg " style="min-height: 250px;">
                                <a th:href="'/index/group/' + ${group.getGroupId}" class="stretched-link" tabindex="-1">

                                    <h6 class="text-center mb-4">
                                        <a th:text="${group.getGroupName()}"></a>
                                    </h6>
                                    <!--картинка группы  @{'/image_group/' + ${fileName}}   "@{'/image_group/new.jpg'}" -->
                                    <img th:src="@{ '/image/' + ${group.getGroupId()}}" class="rounded-img img-fluid mx-auto d-block" style="width: 100%; height: auto;" alt="Пустое изображение">
                                    <!--                                    <img th:src="@{ '/image_group/' + 'new' + '.jpg'}" class="img-fluid mx-auto d-block" style="width: 100%; height: auto;" alt="Пустое изображение">-->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
        </div>
        <p></p>
    </div>


    <!--        контейнеры с продуктами и картинками-->
    <div class="row">
            <div class="col-11 g-0">

            <div class="container mt-0">
                <div class="row justify-content-center">
                    <div th:each="product: ${products}" class="col-md-3 my-3">

                        <div class="card h-100 border p-4 rounded shadow-lg" style="min-height: 250px;">
                            <a th:href="'/index/product/' + ${product.getProductId}" class="stretched-link" tabindex="-1">

                                <h6 class="text-center mb-4">
                                    <a th:text="${product.getProduct_name}"></a>
                                </h6>
                                <img th:src="@{'/image/product/'+ ${product.getProductId()} + '/1'}" class="rounded-img img-fluid mx-auto d-block" style="width: 100%; height: auto;" alt="Пустое изображение">
                                <p></p>
                                <!-- Добавляем div для цены с абсолютным позиционированием -->
                                <div >
                                    <h5 style="color: darkblue;">
                                        <a th:text="${product.getProductCoast()}" >
                                        </a>
                                    </h5>
                                </div>
                                <!--                                <h5 > <a th:text="${product.getProductCoast} + ' руб'"></a></h5>-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
        </div>
        <p></p>
    </div>

</div>
<P></p>

<!--  Строка с инфо снизу-->
<div class="row">
    <div class="col-md-4">
        <h6 class="text-center mb-4">
            <a th:text="${mapInfo[3].info}"></a>
        </h6>


    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h6 class="text-center mb-4">
            <a th:text="${mapInfo[4].info}"></a>
        </h6>
    </div>


</div>

<style>
    label {
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
</style>



</body>
</html>