<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="ru">
    <title>detail</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/image/3detail_icon.ico" sizes="any" type="image/x-icon"/>
    <script src="/js/bootstrap.bundle.min.js" ></script> <!--в т.ч. для модальных окон-->

</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-8" >
                <!--картинка группы  @{'/image_group/' + ${fileName}}   "@{'/image_group/new.jpg'}" -->
                <img src="/image/main_logo.png"  style="max-height: 80px;">
            </div>
            <div class="col-8">
                <h4 class="text-white"> Сервис 3D печати </h4>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <!--  Строка пользоваьтель-->
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">

            <div th:if="${userInfo['login'] eq 'Регистрация'}">
                <p></p>
                <a href = "/athurizathion" > <p th:text="${userInfo['login']}"></p>
                </a>
            </div>
            <div th:unless="${userInfo['login'] eq 'Регистрация'}">
                <h6 class="text-center mb-4">
                    <p></p>
                    <a href = "/index_user_page" > <p th:text="'Логин: ' + ${userInfo['login']}"></p>
                        <div th:if="${passwordUser != null}">
                            <h6> <a th:text="'Временный пароль: ' + ${passwordUser}" > </a>   </h6>
                        </div>
                    </a>
                </h6>
            </div>

        </div>


    </div>
    <div class="btn-group" role="group" > <!--имена групп в один ряд-->
        <a th:href="'/'"class="btn btn-outline-secondary text-black text-decoration-none"
           style="margin-right: 20px; font-weight: bold;" th:text="'На главную'"></a>
    </div>
    <P></P>
    <div class="row">
        <div class="col-10">
            <p></p>
            <h4>Загрузите собственные модели или модели сайта чтобы узнать стоимость печати детали</h4>
            <p></p>
            <h4>   <a th:text="${errorMessage}" > </a>   </h4>
            <P></P>
            <!--Вывод сообщения об ошибке-->

            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-12 border p-4 rounded shadow-lg bg-body-secondary">
                        <p></p>



                        <!-- Кнопка модального окна загрузить собственную модель -->
                        <button button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 35px; width: 300px; font-size: 16px;"
                                data-bs-toggle="modal" th:data-bs-target="'#'+ 'modal_load_file'">
                            Загрузить собственную модель
                        </button>

                        <!-- Модальное окно загрузки собственной модели -->
                        <div class="modal fade" th:id="'modal_load_file'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!--                                        <h1 class="modal-title fs-5" >Готовые можели</h1>-->
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отмена"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" enctype="multipart/form-data"
                                              th:action="'/upload_file/' + ${userInfo['id']}"
                                              th:object="${file}">

                                            <div class="mb-3">
                                                <!--                                <label for="fileInput" class="form-label">Выберите файл:</label>-->
                                                <input id="fileInput" type="file" name="file" accept="model/*" class="form-control" required/>
                                            </div>

                                            <div >
                                                <button type="submit" class="btn btn-dark">Загрузить </button>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <!--                                        <form method="post" th:action="'/order_product/'"-->
                                        <!--                                              th:id="'order_product'">-->
                                        <!--                                            &lt;!&ndash;                                    <input type="hidden"  name="page"  value="index_admin_group">&ndash;&gt;-->
                                        <!--                                            <button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 25px; width: 80px; font-size: 12px;">Выбрать</button>-->
                                        <!--                                        </form>-->
                                        <!--                                        <button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 25px; width: 80px; font-size: 12px;" data-bs-dismiss="modal">Отмена</button>-->
                                        <!--                                        &lt;!&ndash;                                                <button type="button" class="btn btn-primary">Удалить</button>&ndash;&gt;-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p></p>

                        <!-- Кнопка модального окна лист моделей -->
                        <button button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 35px; width: 240px; font-size: 16px;"
                                data-bs-toggle="modal" th:data-bs-target="'#'+ 'modal_list_file'">
                            Выбрать готовую модель
                        </button>

                        <!-- Модальное окно с моделями -->
                        <div class="modal fade" th:id="'modal_list_file'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
<!--                                        <h1 class="modal-title fs-5" >Готовые можели</h1>-->
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отмена"></button>
                                    </div>
                                        <div class="modal-body">

                                            <div th:each="product, iterStat : ${list_product}" class="mb-3">


                                                <a th:href="'/order_product/'+${userInfo['id']} + '/' + ${product.getProductId()}" class="d-flex align-items-center gap-2 text-decoration-none text-black">
                                                    <img th:src="@{'/image/product/'+ ${product.getProductId()} + '/1'}" class="img-fluid flex-shrink-0" style="width: 90px; height: auto; object-fit: cover; margin-right: 1rem;"/>

                                                    <div class="flex-grow-1 d-flex flex-column justify-content-start">
                                                        <span th:text="${product.getProduct_name}" class="fs-8 fw-semibold mb-1"></span>
                                                        <span th:text="${product.getProductCoast}" class="text-muted small"></span>
                                                    </div>
                                                    <input type="hidden"  name="product_name"  th:value="${product.getProduct_name}">

                                                </a>
                                            </div>
                                        </div>
                                    <div class="modal-footer">
<!--                                        <form method="post" th:action="'/order_product/'"-->
<!--                                              th:id="'order_product'">-->
<!--                                            &lt;!&ndash;                                    <input type="hidden"  name="page"  value="index_admin_group">&ndash;&gt;-->
<!--                                            <button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 25px; width: 80px; font-size: 12px;">Выбрать</button>-->
<!--                                        </form>-->
<!--                                        <button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 25px; width: 80px; font-size: 12px;" data-bs-dismiss="modal">Отмена</button>-->
<!--                                        &lt;!&ndash;                                                <button type="button" class="btn btn-primary">Удалить</button>&ndash;&gt;-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--                   --------------------------------------------         -->


                        <p></p>
                        <div th:if="${not #lists.isEmpty(listFile)}">
                            <h6> Загруженные модели </a></h6>
                            <p></p>
                            <table class="table table-bordered">
                                <thead>
                                <div class="row">
                                    <tr class="table-warning table align-middle">
                                        <div class="col-1">
                                            <th>
                                                <h6>№</h6>
                                            </th>
                                        </div>
                                        <div class="col-2">
                                            <th>
                                                <h6> Наименование</h6>
                                            </th>
                                        </div>

                                        <div class="col-1">
                                            <th>
                                                <h6> Статус </a> </h6>
                                            </th>
                                        </div>

                                        <div class="col-1">
                                            <th>
                                                <h6> Стоимость </a></h6>
                                            </th>
                                        </div>
                                        <div class="col-2">
                                            <th>
                                                <h6> Сообщения </a></h6>
                                            </th>
                                        </div>
                                    </tr>

                                    <div th:each="file, iterStat : ${listFile}">
                                        <!-- Первая строка -->
                                        <tr>
                                            <th style="vertical-align: top; text-align: center;" > <span th:text="${iterStat.count}"></span></th>


                                            <th style="vertical-align: top; text-align: center;" >
                                                <!-- картинка по id если id есть -->
                                                <div th:if="${file.getFileId() != null}">
                                                    <a th:href="'/index/product/' + ${file.getFileId()}"  >
                                                        <img th:src="@{'/image/product/'+ ${file.getFileId} + '/1'}"
                                                             class="img-fluid flex-shrink-0" style="width: 80px; height: auto; object-fit: cover;
                                                  margin-right: 1rem;"/>
                                                    </a>

                                                </div>
                                                <a th:text="${file.getFileName}">Имя файла</a>
                                                <p></p>
                                                <div class="btn-group" role="group" > <!--кнопки в один ряд-->
                                                    <!--Кнопки управления файлом-->

                                                    <div class="me-2"> <!--Отступ между элементами-->

                                                        <!-- Кнопка модального окна на удаление файла -->
                                                        <button button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 32px; width: 80px; font-size: 15px;"
                                                                data-bs-toggle="modal" th:data-bs-target="'#'+ 'modal_' + ${file.getId}"> <!--вызов определенного модального окна-->
                                                            Удалить
                                                        </button>

                                                        <!-- Модальное окно -->
                                                        <div class="modal fade" th:id="'modal_' + ${file.getId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h1 class="modal-title fs-5" > Удалить файл ???</h1>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отмена"></button>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <form method="get" th:action="'/delete_file/' + ${file.getId}">
                                                                            <input type="hidden"  name="page"  value="index_order_page">
                                                                            <input type="hidden"  name="file_isDelete"  value="delete">
                                                                            <button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 25px; width: 80px; font-size: 12px;">Удалить</button>
                                                                        </form>
                                                                        <button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 25px; width: 80px; font-size: 12px;" data-bs-dismiss="modal">Отмена</button>
                                                                        <!--                                                <button type="button" class="btn btn-primary">Удалить</button>-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--                   --------------------------------------------         -->

                                                    </div>
                                                    <div th:if="${file.getStatus eq ''}" class="me-2">
                                                        <!--Отправить на оценку стоимости-->
                                                        <form method="post" th:action="'/save_file3DDto/' + ${file.getId}">
                                                            <input type="hidden"  name="page"  value="index_order_page">
                                                            <input type="hidden"  name="file_status"  value="отправлен на расчет стоимости">
                                                            <input type="hidden"  name="file_fileName"  th:value="${file.getFileName}">
                                                            <input type="hidden"  name="user_login"  th:value="${userInfo['login']}">

                                                            <button class="btn btn-info btn-sm mb-2" type="submit" >Расcчитать стоимость </button>
                                                        </form>
                                                    </div>
                                                    <div th:if="${file.getStatus eq 'стоимость рассчитана'}" class="me-2">
                                                        <!--Отправить на печать-->
                                                        <form method="post" th:action="'/save_file3DDto/' + ${file.getId}">
                                                            <input type="hidden"  name="page"  value="index_order_page">
                                                            <input type="hidden"  name="file_status"  value="отправлен на печать">

                                                            <button class="btn btn-info btn-sm mb-2" type="submit" >Подтвердить и отправить на 3D печать </button>
                                                        </form>
                                                        <h6 class="text-center mb-4">
                                                            <a th:text="'Укажите номер телефона в комментарии'"></a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            <th style="vertical-align: top; text-align: center;">
                                                <div th:style="${file.getStatus eq 'стоимость рассчитана'} ? 'border: 1px solid #ccc; padding: 0.5em; background-color: #FFA07A; border-radius: 4px; vertical-align: top;' :
                                                           (${file.getStatus eq 'отправлен на расчет стоимости'} ? 'border: 1px solid #ccc; padding: 0.5em; background-color: #7FFF00; border-radius: 4px; vertical-align: top;' :
                                                           (${file.getStatus eq 'отправлен на печать'} ? 'border: 1px solid #ccc; padding: 0.5em; background-color: #00FF00; border-radius: 4px; vertical-align: top;' :
                                                           (${file.getStatus eq 'на печати'} ? 'border: 1px solid #ccc; padding: 0.5em; background-color: #00FFFF; border-radius: 4px; vertical-align: top;' :
                                                           (${file.getStatus eq 'готово'} ? 'border: 1px solid #ccc; padding: 0.5em; background-color: #00FF00; border-radius: 4px; vertical-align: top;' :
                                                           (${file.getStatus eq 'отмена'} ? 'border: 1px solid #ccc; padding: 0.5em; background-color: #696969; border-radius: 4px; vertical-align: top;' : '')))))">
                                                    <h6> <a th:text="${file.getStatus}"> </a> </h6>
                                            </div>

                                            </th>
                                            <th style="vertical-align: top; text-align: center;">
                                                 <a th:text="${file.getCoast}"> </a>
                                            </th>
                                            <th style="min-width: 400px; max-width: 500px;">
                                                <!--комментарий переписка на заказ-->
                                                <div th:if="${file.getCommentList != null}" >
                                                    <div style="max-height: 30rem; overflow-y: auto; ">
                                                        <div th:each="comment : ${file.getCommentList}">
                                                            <div th:if="${comment.getAutor eq 'admin'}">
                                                                <div style="display: flex; ">
                                                                    <div style="border: 1px solid #ccc; padding: 0.5em; background-color: #f9f9f9; border-radius: 4px;">
                                                                        <span style=" font-size: 0.8rem; color: darkred;">
                    <a th:text="${comment.getMessage}"></a>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div th:if="${comment.getAutor eq 'user'}">
                                                                <div style="display: flex; justify-content: flex-end; align-items: start; margin-bottom: 0.1em;">
                                                                    <div style="border: 1px solid #ccc; padding: 0.5em; background-color: #f9f9f9; border-radius: 4px;">
                <span style="white-space: pre-line; font-size: 0.8rem;">
                    <a th:text="${comment.getMessage}"></a>
                </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <form method="post" th:action="'/save_file3DDto/' + ${file.getId}"
                                                      th:id="'save_product_' + ${file.getComment}">
                                                <textarea class="form-control"

                                                          id="description" name="file_comment" rows="3">
                                                </textarea>
                                                    <input type="hidden"  name="page"  value="index_order_page">
                                                    <input type="hidden"  name="file_id"  th:value="${file.getId}">
                                                    <input type="hidden"  name="isAdmin"  value="false">
                                                    <button class="btn btn-dark btn-sm mb-2" type="submit" style="height: 32px; width: 90px; font-size: 15px;">Отправить</button>
                                                </form>
                                            </th>
                                        </tr>

                                        <!-- Вторая строка -->
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </div>
                                </div>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <p></p>



                    </div>
                </div>
            </div>
            <p></p>

            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-12 border p-4 rounded shadow-lg bg-body-secondary">
                        <h6>
                            После загрузки файла также укажите материал пластика, процент заполнения детали, желательное расположение детали на столе принтера
                            и другую важную для Вас информацию в графе комментарии и нажмите "Сохранить", далее "Расчитать стоимость"<br><br>

                            При устраивании цены нажмите "Отправить на 3D печать" <br><br>

                            </a> </h6>
                        <h8>
                            Стоимость расчитывается с учетом поддержек необходимых для печати <br>
                            Доставка по  г.Санкт-Петербург от 200р, отправка в другие регионы службами доставки<br><br>
                            Допустимые файлы STL, STEP, SLDPRT и другие  <br><br>
                            </a> </h8>
                        <p></p>
                    </div>
                </div>
                <p></p>
            </div>

            <p></p>
        </div>

        <p></p>
    </div>
</div>

<style>
    label {
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
</style>



</body>
</html>