<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="ru">
    <title>Test</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-8" >
                <!--картинка группы  @{'/image_group/' + ${fileName}}   "@{'/image_group/new.jpg'}" -->
                <img src="/image/main_logo.png"  style="max-height: 80px;">
            </div>
            <div class="col-8">
                <h4 class="text-white"> Сервис 3D печати </h4>
            </div>
        </div>
    </div>
</header>
<p></p>

<h4 class="text-center text-black"> <a th:text = "'На указанную почту: ' + ${user.mail} + '  отправлена ссылка.'"></a> </h4>

<h4 class="text-center text-black"> <a th:text = "'Для продолжения регистрации пользователя: ' + ${user.login}"></a> </h4>
<h4 class="text-center text-black"> <a th:text = "'пройдите по ссылке из письма'"></a> </h4>


</body>
</html>