<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="ru">
    <title>detail</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <link rel="icon" href="/image/3detail icon.ico" sizes="any" type="image/x-icon"/>
    <!--    <link rel="icon" href="/icon_noFon120.ico"  sizes="120x120" type="image/x-icon"/>-->
    <meta name="description" th:content="${tegDescription}">

    <meta name="keywords" th:content="${tegKeywords}" >

    <meta name="robots" content="index,follow">

    <meta property="og:locale" content="ru_RU">

</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-8">
<!--                <h3 class="text-center text-white"> 3detail</h3>-->
<!--                <h4 class="text-center text-white"> администратор </h4>-->
            </div>
        </div>
    </div>
</header>

<div class="container">
    <p></p>
    <!--  Строка пользоваьтель-->
    <div class="row">
        <div class="col-md-8">
        </div>

        <div class="col-md-4">
            <div class="btn-group" role="group" > <!--имена групп в один ряд-->
                <div class="me-3">
                    <h6 class="text-center mb-4">
                        <a href = "/athurizathion" > <p th:text="${userInfo['login']}"></p> </a>
                    </h6>
                </div>
                <div class="me-3">
                    <h6 class="text-center mb-4">
                        <a href = "/index/order3d" > <p th:text="'Мои заказы'"></p> </a>
                    </h6>
                </div>
            </div>
        </div>


    </div>
    <P></P>

    <!--  Строка с инфо сверху-->
    <div class="row">
        <div class="col-md-4">
            <h6 class="text-center mb-4">
                <a th:text="${mapInfo[5].info}"></a>
            </h6>


        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h6 class="text-center mb-4">
                <a th:text="${mapInfo[6].info}"></a>
            </h6>
        </div>


    </div>

    <div class="row">
        <div class="col-md-11">
            <p></p>
            <!--сылки каталог разделов-->
            <div class="btn-group" role="group" > <!--имена групп в один ряд-->
                <a th:href="'/'"
                   class="btn btn-outline-secondary text-black text-decoration-none"
                   style="margin-right: 20px; font-weight: bold;"
                   th:text="'На главную'"></a>
                <div th:each = "group: ${zeroGroups}" class="me-2"> <!-- Отступ справа между каждым элементом -->

                    <div th:if="${group.groupName != 'Свалка'}">  <!-- Если имя не свалка -->
                        <a th:href="'/index/group/' + ${group.getGroupId}"
                           class="btn btn-outline-secondary text-black text-decoration-none"
                           style="margin-right: 20px; font-weight: bold;"
                           th:text="${group.getGroupName()}"></a>
                    </div>
                </div>
            </div>
            <p></p>
            <div th:if="${product.getGroupsId() != null}">
                <a th:href="'/index/group/' + ${product.getGroupsId()}"
                   class="btn btn-outline-secondary text-black text-decoration-none"
                   style="margin-right: 20px; font-weight: bold;"
                   th:text="'Назад'"></a>
            </div>

            <p></p>
            <a th:href="'/index/order3d'"
               class="btn btn-dark"
               style="margin-right: 30px;"
               th:text="'Заказать 3D печать'"></a>

            <!--Вывод сообщения об ошибке-->
            <h6>   <a th:text="${errorMessage}" > </a>   </h6>
            <p></p>
        </div>

        <p></p>
    </div>

    <!-- строка продукт описание и картинки-->
    <div class="row">
        <div class="col-9">
            <p></p>
            <h4>   <a th:text="${errorMessage}" > </a>   </h4>
            <P></P>
<!--Вывод сообщения об ошибке-->
            <p></p>

            <div class="col-md-12 border p-4 rounded shadow-lg bg-body-secondary">
                <h3 class="text-center mb-4"><a th:text="${product.getProduct_name}"> </a></h3>
                <p></p>
                <div class="row g-3"> <!-- Основное распределение -->
                    <div class="col-md-5"> <!-- Левый блок для изображений -->
                        <div th:each="nameImages: ${ListNameImages}" class="mb-3">
                            <a th:href="'/image/product/' + ${product.getProductId()} + '/' + ${nameImages}">
                                <img th:src="@{'/image/product/' + ${product.getProductId()} + '/' + ${nameImages}}" class="img-fluid w-70 h-auto" alt="Описание">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 text-right"> <!-- Правый блок для описания -->
                        <h4><a th:text="${product.getProductCoast}"> </a></h4>
                        <p></p>
                        <h8>
                            <p style="white-space: pre-wrap; line-height: 1.2;"
                               th:text="${product.productDescription}"></p>
                        </h8>

                        <p></p>
                        <h5><a th:text="${product.getProductCount}"> </a> </h5>
                    </div>
                </div>
            </div>
            <p></p>

        </div>

        <p></p>
    </div>
    <!--  Строка с инфо снизу-->
    <div class="row">
        <div class="col-md-4">
            <h6 class="text-center mb-4">
                <a th:text="${mapInfo[7].info}"></a>
            </h6>


        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h6 class="text-center mb-4">
                <a th:text="${mapInfo[8].info}"></a>
            </h6>
        </div>


    </div>
    <p></p>
</div>

<style>
    label {
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
</style>



</body>
</html>