<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" lang="ru">
    <title>Test</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h3 class="text-center text-white"> Smart </h3>
                <!--                <h4 class="text-center text-white"> администратор </h4>-->
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-8">
            <p></p>
            <h3>страница User, редактирование, просмотр товаров забронированных</h3>
            <p></p>
            <h4>   <a th:text="${errorMessage}" > </a>   </h4>
            <P></P>
            <!--Вывод сообщения об ошибке-->


            <table class="table table-bordered">
                <thead>
                <tr class="table-warning table align-middle">

                    <th>
                        <h6> 1.....</h6>
                    </th>
                    <th>
                        <h6> 2.....</h6>
                    </th>
                    <th>
                        <h6> 3.....</h6>
                    </th>
                    <th>
                        <h6> 4.....</h6>
                    </th>
                    <th>
                        <h6> 5.....</h6>

                    </th>
                    <th></th>

                </tr>
                </thead>
                <tbody></tbody>

            </table>
            <p></p>

            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-12 border p-4 rounded shadow-lg bg-body-secondary">
                        <h3 class="text-center mb-4">Описание</h3>
                        <p></p>
                        <h4>   <a th:text="'Я пользователь с id = ' + ${userId}" > </a>   </h4>

                    </div>
                </div>
            </div>


            <p></p>


        </div>

        <p></p>
    </div>
</div>

<style>
    label {
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
</style>



</body>
</html>